<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mihau.game.nindojo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:name="com.activeandroid.app.Application"
        >

        <meta-data android:name="AA_DB_NAME"
            android:value="pl.mihau.game.nindojo.Models.Actions,
             pl.mihau.game.nindojo.Models.Points,
             pl.mihau.game.nindojo.Models.History,
             pl.mihau.game.nindojo.Models.FamilyMembers"/>
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.AddFamilyMember"/>
        <activity android:name=".Activities.AddPoints"/>
        <activity android:name=".Activities.History"/>
        <activity android:name=".Activities.Splash"/>

    </application>

</manifest>